{% extends 'base.html' %}
{% block content %}

<h1>Pokemon Details</h1>

<div class="card">
    <div class="card-content">
        <span class="card-title">{{ poke.name }}</span>
        <p>Breed: {{ poke.breed }}</p>
        <p>Description: {{ poke.description }}</p>
        {% if poke.age > 0 %}
            <p>Age: {{ poke.age }}</p>
        {% else %}
            <p>Age: Baby</p>
        {% endif %}
    </div>
    <div class="card-action">
        <a href="{% url 'pokemon_update' poke.id %}">Edit</a>
        <a href="{% url 'pokemon_delete' poke.id %}">Delete</a>
    </div>
</div>


{% endblock %}